<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590308030127-t2i3q028f7avdfuckq41u69etkidrlrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590308030127-t2i3q028f7avdfuckq41u69etkidrlrv</string>
	<key>API_KEY</key>
	<string>AIzaSyB57Hm8-7ExbxrAVuL5gps6kMlkPk16HUg</string>
	<key>GCM_SENDER_ID</key>
	<string>590308030127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.miloo.dirumahaja.debug</string>
	<key>PROJECT_ID</key>
	<string>dirumahaja-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>dirumahaja-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590308030127:ios:684d9d54fdc2101d69c65a</string>
	<key>DATABASE_URL</key>
	<string>https://dirumahaja-challenge.firebaseio.com</string>
</dict>
</plist>