<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590308030127-prdik1rkjp5j3o4s2p3bm7gv746v9cg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590308030127-prdik1rkjp5j3o4s2p3bm7gv746v9cg5</string>
	<key>API_KEY</key>
	<string>AIzaSyAODK8-14Wgp7n5nwJsx9-nU-IT7KWm2Kk</string>
	<key>GCM_SENDER_ID</key>
	<string>590308030127</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.buahbatu.dirumahaja.debug</string>
	<key>PROJECT_ID</key>
	<string>dirumahaja-challenge</string>
	<key>STORAGE_BUCKET</key>
	<string>dirumahaja-challenge.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590308030127:ios:e529fd6f615c78e969c65a</string>
	<key>DATABASE_URL</key>
	<string>https://dirumahaja-challenge.firebaseio.com</string>
</dict>
</plist>